html
   head
      title Guarde su película favorita.
      link(rel="stylesheet", href="/form.css") 
   body
      header
         div
            nav(id= "navegacion")
               ul(class="navegacion-items")
                li
                    a(href="/") INICIO
                li
                    a(href="/films/form/create") GUARDA TUS PELÍCULAS FAVORITAS
      main 
      h1=titulo1 
         form(action=ruta, method=metodo)
            div 
            if(posicion)
               input(type="text", name="id" value=_id)
            else if(posicion=false)
            div
               label(for = "Titulo") Titulo:  
               br
               input(type = "text" name = "Titulo" id="nombre" value=tituloEdit required)
            br
            div
               label(for = "epoca") Año:
               br  
               input(type ="text" name = "Epoca" id = "epoca" value=epocaEdit required)
            br
            div
               label(for = "genero") Género:
               br  
               input(type = "text" name = "Genero" id = "genero" value=generoEdit required)
            br
            div
               label(for = "director") Director:
               br  
               input(type = "text" name = "Director" id = "director" value=directorEdit required)
            br
            div
               label(for = "actores") Actores principales:
               br  
               input(type = "text" name = "Actores" id= "actors" value=actorsEdit required)
            br
            div  
               label(for= "sinopsis") Sinopsis:
               br
               input(type="text", name="Sinopsis" id="sinopsis" value=sinopsisEdit, required)
            br
            div
               label(for="idiomas") Idiomas:
               br
               input(type="text", name="Idiomas" id="idiomas" value=idiomasEdit required)
            br
            div
               label(for="puntuacion") Puntuacion:
               br
               input(type="number", name="Puntuacion" id="Puntuacion" value=puntuacionEdit required)
            br
            div
               label(for="produccion") Producción:
               br
               input(type="text", name="Produccion" id="produccion" value=produccionEdit required) 
            div  
               label(for = "Imagen") Póster:
               br
               img(src=imagenEdit, alt="imagen", id="imagen")
               br
               input(type="file", name="Poster")
            button(type = "submit" id = "btnForm") Guardar.
      footer
         header
            div(id="final")
               p Design and code made by 
                a(href="#") Lina Katherine Larrea Rodríguez